:root {
  /* colors */
  --color-primary: #000;
  --color-btn: #fff;
  --color-bg: #F0F4F8;
  --color-bg-button: #008BFE;
  --color-bg-hover-button: #006FCB;
  --color-bg-card: #fff;
  --color-bg-check: #09BB00;
  --color-bg-none: #D00303;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg);
  color: var(--color-primary);
}
